:root {
    --colorTitle: #1f3e72;
    --colorParagraph: #828ea2;
}

nav {
    background: linear-gradient(to right, #fff 50%,#e7f4fc 50%);
    height: 180px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.nav-links,.log {
    margin: 0 150px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #2b4bc8;
}

.link {
    color: #6d7b93;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 16px;
}

.link:hover {
    background: #a8b6c5;
    border-radius: 10px;
    color: #fff;
    
}
.button {
    background: #3656d4;
    color: #fff;
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.info{
    display: flex;
    justify-content:center;
    
}

.title {
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    color: var(--colorTitle);
}

.desc {
    color: var(--colorParagraph);
    font-size: 25px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
}
#principal{
    font-size: 90px;
    
}
.home-texts{
    margin: 50px 180px 0 180px;
    width: 50%
    
}
.home-image {
    background: #2674de;
    width: 50%;
}

.best {
    display: flex;
    justify-content:space-around;
}

.bxs-star,.bxs-check-shield, .best{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #ffd012;
    
}

.txt {
    color: var(--colorTitle);
}

.text {
    color: var(--colorTitle);
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    font-size: 24px;
    font-weight:600;
}

.home-modal {
    position: absolute;
    opacity: .9;
    box-shadow: 9px 17px 40px -3px rgba(0,0,0,0.75);
    width: 60%;
    top: 80%;
    left: 10%;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.bxs-edit-location,.bxs-calendar,.bx-edit-alt {
    color: var(--colorTitle);
}

.data {
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    color: var(--colorTitle);
    font-size: 35px;
}



.why-section {
    display: grid;
    margin: 0 150px;
}

.why-texts {
    width: 50%;
    margin-bottom: 60px;
}

#why-title {
    font-size:60px;

}
.why-cards {
    display: flex;
    justify-content:center;
    gap: 20px;
}

.card {
    width: 250px;
    height: 400px;
    border: 2px solid #f9f9fe;
    padding: 32px 40px;
    border-radius: 10px;
    background: #fffffe;
    font-family: 'Poppins', sans-serif;
}

.card:hover {
    box-shadow: 1px 20px 40px -3px rgba(27, 40, 138, 0.39);
}

.card-icon {
    color: #2871dd;
    background: #e9efff;
    border: 2px solid #fff;
    font-size: 50px;
    border-radius: 10px;
}
.card-title {
    color: #1f3e73;
    font-weight: 500;
    font-size: 25px;
}

.card-body {
    color:#7e8ba0;
    font-size:18px;
    font-weight: 500;
}

.preparation-section {
    display: flex;
}

.texts-preparation {
    padding: 0 50px 0 50px;
    margin: 0 250px;
}

.acordeons-preparation {
    padding: 0 50px 0 50px;
    margin: 0 250px;
}

.img {
    padding: 30px 0 0 0;
}

.acordeon {
    border: 1px solid #aaaabb;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.icon {
    font-size: 25px;
    color: var(--colorTitle);
    background-color: #ddd;
    border-radius:10px;
    padding: 10px;
}

.icon:hover {
    cursor: pointer;
    background: var(--colorTitle);
    color: #fff;
    box-shadow: 1px 20px 40px -3px rgba(27, 40, 138, 0.39);
}

.cont {
    border: 1px solid #bbb;
    border-top-style: none;
    border-radius: 15px;
}

.acx {
    padding: 0 20px;
}

.contact-section {
    display: grid;
}

.contacts {
    display: flex;
    justify-content:space-around;
}

.texts-contact {
    padding:0 1080px 0 260px;
}
.cards-contact {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cardC {
    border-radius: 10px;
    box-shadow: 1px 20px 40px -3px rgba(27, 40, 138, 0.39);
    margin: 15px;
    padding: 15px;
    width: 300px;
    height: 300px;
    display: grid;
    gap: 20px;
    text-align: center;
}

.card-title {
    font-size:30px;
    color:var(--colorTitle);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.card-body {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.cardC:hover {
    background-color: #dae9f1;
    transform: translateY(10px);
}

.card-img {
    background-color: #2674de;
}

.cardImg {
    width: 1000px;
    height: 800px
}

footer {
    background: #eef3ff;
    display: grid;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 30px;
}

.property {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.vaccine {
    margin: 50px 200px;
    padding: 0 75px;
    font-size: 30px;
}


.alt {
    padding: 0;
    margin: 0;
}